.menu-item {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 20px;
   width: 80vw;
   margin:0 auto 40px;
   &__img {
      flex: 0 0 27%;
      padding-top: calc( (7 / 9) * 27%);
      border: 3px solid darksalmon;
      border-radius: 5px;
      background-size: cover;
      background-position: center;
   }
   &__info {
   }
   &__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px dotted rgb(84, 112, 145);
      margin-bottom: 15px;
      font-size: 13px;
      letter-spacing: 2px;
      transform: translateY(-4px);

   }
   &__heading {
   }
   &__price {
      font-weight: bold;
      color: darksalmon;
   }
   &__desc {
      font-size: 14px;
      line-height: 1.5;
      color: rgb(44, 50, 57);
   }
}
